@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS
  DARK blue #064da0
  DARK grey #5c5c5c
  font-family: 'DM Sans', sans-serif;
*/
#navbar{
  transition: top 0.3s;
}

body {
	line-height: 1;
  position: absolute;
}

.svg{
  width: 24%;
}

li{
  padding: 10px;
}

.headertext{
  text-shadow: 1px 1px 1px black;
}
.blacktext{
  color: black;
}

.logobg{
  background-image: url('../public/Logotrs.png');
}

.headerbackground{
  background-image: url('../public/backgroundimagebk.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bg{
  background-color: white;
  border-color: #1B1B1B;
  border-width: 1px;
}

.bgcustom{
  background-color: #F9F4F4;
  color: #1B1B1B;
}


.gradientbg{
  background: rgb(92,163,246);
  background: linear-gradient(90deg, rgba(92,163,246,1) 18%, rgba(6,77,160,1) 80%);
}

.slider-wrapper {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 50px;
  padding-left:15px;
}
.slider-text1 {
  background: #064da0;
  animation: slide 5s linear infinite;
}
.slider-text2 {
  background: #064da0;
}
.slider-text3 {
  background: #064da0;
}
.slider div {
  height: 50px;
  margin-bottom: 50px;
  padding: 7px;
  text-align: center;
  box-sizing: border-box;
}
.slider{
  height: 50px;
  overflow: hidden;   /* hide the text outside the slider div area */
}

@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}  /* 5% delay */
  33% {margin-top:-200px;}
  38% {margin-top:-100px;} /* 5% delay */
  66% {margin-top:-100px;}
  71% {margin-top:0px;} /* 5% delay */
  100% {margin-top:0px;}
}