@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLORS
  DARK blue #064da0
  DARK grey #5c5c5c
  font-family: 'DM Sans', sans-serif;
*/
#telefonenumber{
  padding-top: 4px;
}

html{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  list-style: none;
}
body {
  min-width: fit-content;
}

/*animations */
#animation{
  overflow: hidden;
  position: relative;
  display: inline-block;
}
#animation::before,
#animation::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}
#animation::before {
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
#animation::after {
  content: attr(data-replace);
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  color: white;
  padding-left: 10px;
  padding-top: 4px;
}

#animation:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}
#animation:hover::after {
  transform: translate3d(0, 0, 0);
}

#animation span {
  display: inline-block;
  transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

#animation:hover span {
  transform: translate3d(-200%, 0, 0);
}

.navanimation{
  transition: transform 0.2s;
}

.svg{
  width: 24%;
}

li{
  padding: 10px;
}

.headertext{
  text-shadow: 1px 1px 1px black;
}
.blacktext{
  color: black;
}

.logobg{
  background-image: url('../public/Logotrs.png');
}

.headerbackground{
  background-image: url('../public/backgroundimagebk.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.bg{
  background-color: white;
  border-color: #1B1B1B;
  border-width: 1px;
}

.bgcustom{
  background-color: #F9F4F4;
  color: #1B1B1B;
}

.slider-wrapper {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider{
  height: 50px;
  padding-left:15px;
}
.slider-text1 {
  background: #064da0;
  animation: slide 5s linear infinite;
}
.slider-text2 {
  background: #064da0;
}
.slider-text3 {
  background: #064da0;
}
.slider div {
  height: 50px;
  margin-bottom: 50px;
  padding: 7px;
  text-align: center;
  box-sizing: border-box;
}
.slider{
  height: 50px;
  overflow: hidden;   /* hide the text outside the slider div area */
}

@keyframes slide {
  0% {margin-top:-300px;}
  5% {margin-top:-200px;}  /* 5% delay */
  33% {margin-top:-200px;}
  38% {margin-top:-100px;} /* 5% delay */
  66% {margin-top:-100px;}
  71% {margin-top:0px;} /* 5% delay */
  100% {margin-top:0px;}
}

@supports (-webkit-touch-callout: none) {
  .intro {
    background-attachment: scroll;
  }
}

@media (min-width: 1086px) {
  .landscapemode {
     display: hidden;
  }
}
@media (min-width: 1086px) {
  .specialflex {
      display: flex;
  }
}

@media (min-width: 1086px) {
  .hamburgertrigger {
      display: none;
  }
}

@media (min-width: 1086px) {
  .socialbuttons {
      display: flex;
  }
}